*.gitignore
*.pyc
__pycache__
.vscode
.env
build
dist
**/*.egg-info
docs/build
*.png
simulation.gif
*.npy
*.txt
topography_tester.py
download.py
*.gif
.coverage
coverage.xml
.mypy_cache
.pytest_cache
