certifi==2021.5.30
flake8==4.0.1
gputil==1.4.0
gym==0.23.1
importlib-metadata==4.11.3
matplotlib==3.5.1
noise==1.2.2
numba==0.55.1
pre-commit==2.18.1
pygame==2.1.2
scikit-image==0.19.2
svglib==1.2.1
yapf==0.32.0
